{% extends "base.html" %}

{% block content %}
<h2>Add New Product</h1>

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.name.label }} 
        {{ form.name(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.category_id.label }} 
        {{ form.category_id(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.price.label }} 
        {{ form.price(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.description.label }} 
        {{ form.description(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.images.label }}
        {{ form.images(class="form-control-file") }}
    </div>

    {{ form.submit(class="btn btn-primary mt-3") }}
</form>
{% endblock %}
