{% extends "base.html" %}

{% block content %}
    <h1>Products</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.search_query.label }} {{ form.search_query(size=32) }}
        {{ form.submit() }}
    </form>
    <ul>
{% for product in products %}
    <li>
        {% for image in product.images %}
            <img src="{{ url_for('static', filename=image.image_url) }}" alt="{{ product.name }}">
        {% endfor %}

        <h2>{{ product.name }}</h2>
        <p>{{ product.category }}</p>
        <p>${{ product.price }}</p>
        <p>{{ product.description }}</p>

        <!-- View -->
        <a href="{{ url_for('product', product_id=product.id) }}" class="btn btn-primary">
            👁️ View
        </a>

        <!-- Add to Cart -->
        <a href="{{ url_for('add_to_cart', product_id=product.id) }}" class="btn btn-success">
            ➕🛒 
        </a>

        <!-- Remove from Cart -->
        <a href="{{ url_for('remove_from_cart', product_id=product.id) }}" class="btn btn-danger">
            ❌🛒 
        </a>

 {% if 'customer_id' in session %}
    {% if product.id in wishlist_ids %}
        <a href="{{ url_for('remove_from_wishlist', product_id=product.id) }}" class="btn btn-danger">
            💚➖
        </a>
    {% else %}
        <a href="{{ url_for('add_to_wishlist', product_id=product.id) }}" class="btn btn-primary">
            ❤️➕
        </a>
    {% endif %}
{% endif %}

    </li>
{% endfor %}

    </ul>
{% endblock %}
