{% extends "base.html" %}

{% block content %}
    <h1>Products</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.search_query.label }} {{ form.search_query(size=32) }}
        {{ form.submit() }}
    </form>
    <ul>
        {% for product in products %}
            <li>
                <img src="{{ product.image_url }}" alt="{{ product.name }}">
                <h2>{{ product.name }}</h2>
                <p>{{ product.category }}</p>
                <p>${{ product.price }}</p>
                <p>{{ product.description}}</p>
                <a href="{{ url_for('product', product_id=product.id) }}">View</a>
                <a href="{{ url_for('add_to_cart', product_id=product.id) }}">Add to Cart</a>
                <a href="{{ url_for('remove_from_cart', product_id=product.id) }}">Remove from Cart</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
