{% extends 'base.html' %}

{% block content %}
    <h1>Customer Login</h1>
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }} {{ form.username(size=32) }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password(size=32) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>

    <hr>
<p>
    Are you an admin?  
    <a href="{{ url_for('admin_login') }}" class="btn btn-primary">
        Click here to login as admin
    </a>
</p>

{% endblock %}
