{% extends 'base.html' %}
{% block content %}
    <h1>{{ product.name }}</h1>

    <div>
        {% if product.images %}
            {% for image in product.images %}
                <img src="{{ url_for('static', filename=image.image_url) }}" alt="{{ product.name }}" width="200">
            {% endfor %}
        {% else %}
            <p>No Images</p>
        {% endif %}
    </div>

    <p>Category: {{ product.category_rel.name if product.category_rel else "No Category" }}</p>
    <p>Price: ${{ product.price }}</p>

    {% if session.get('customer_id') %}
        {% if product.id in wishlist_ids %}
            <a href="{{ url_for('remove_from_wishlist', product_id=product.id) }}" class="btn btn-danger">Remove from Wishlist</a>
        {% else %}
            <a href="{{ url_for('add_to_wishlist', product_id=product.id) }}" class="btn btn-success">Add to Wishlist</a>
        {% endif %}
        <a href="{{ url_for('add_to_cart', product_id=product.id) }}" class="btn btn-success">Add to Cart</a>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Shop</a>
    {% else %}
        <p><a href="{{ url_for('login', next=url_for('wishlist')) }}" class="btn btn-secondary">Login to Manage Wishlist</a></p>
        <a href="{{ url_for('add_to_cart', product_id=product.id) }}" class="btn btn-success">Add to Cart</a>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Shop</a>
    {% endif %}
{% endblock %}
